doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header_nav
                ul.main-header_item-list
                    li.main-header_item 
                        a.active(href="/") Shop
                    li.main-header_item 
                        a(href="/admin/add-product") Add Product 
        main
            if prods.length >0
                .grid 
                    each product in prods
                        article.card.product-item
                            header.card_header 
                                h1.product-title #{product.title} 
                            div.card_image
                                img(src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg",alt="book")
                            div.card_content
                                h2.product_price $19.99
                                p.product_description A very interesting book 
                            .card_actions
                                button.btn Add to cart
            else 
                h1 No product





            
