extends layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")
    
block content 
    main
        if prods.length >0
           .grid 
               each product in prods
                    article.card.product-item
                        header.card_header 
                            h1.product-title #{product.title} 
                        div.card_image
                            img(src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg",alt="book")
                        div.card_content
                            h2.product_price $19.99
                            p.product_description A very interesting book 
                        .card_actions
                            button.btn Add to cart
        else 
            h1 No product

    
        
        
    







            
